
.section6 {
    height: 100vh;
    color: #fff;
    background-color: rgb(135, 139, 135);
}
.section6_text{
    float: right;
    width:20%;
}
 
.section6_maps {
    width: 40px;
    height: 40px;   
}