/* Importação da Fonte */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.whatsapp-button {
    display: flex;
    align-items: center;
    background-color: #25D366;
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 8px;
    text-decoration: none;
    transition: background 0.3s ease;
    width: fit-content;
}

.whatsapp-button img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.whatsapp-button:hover {
    background-color: #1ebc5a;
}

.footer {
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
}

.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.footer-item {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
}

.footer-item img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.footer-item:hover {
    color: #ccc;
}
