.section4 {
    height: 100vh;
    display: block;
    padding-top: 100px;
    padding: 50px;
    background-color: rgb(131, 131, 130);
    justify-content: space-around;
}

.section4 h2 {
    font-size: 30px;
    background-color: rgb(144, 139, 9);
    background-size: 10px;
    border-radius: 20px 20px 20px 20px;
    color: #fff;
    padding: 20px;
}

.section4 h3 {
    font-size: 20px;
    color: #000;
}
.faq-container {
    max-width: 900px;
    margin: 50px auto;
    background: rgb(0, 0, 0);
    color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    padding: 30px;
  }

  .faq-title {
    font-size: 2em;
    text-align: center;
    margin-bottom: 30px;
    color: #ffffff;
  }

  .faq-item {
    border-bottom: 1px solid #ddd;
    padding: 15px 0;
    cursor: pointer;
  }

  .faq-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    font-size: 1.1em;
    color: #ffffff;
  }

  .faq-answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease, opacity 0.3s ease;
    opacity: 0;
    margin-top: 10px;
    color: #f4e404;
  }

  .faq-item.active .faq-answer {
    max-height: 200px;
    opacity: 1;
  }

  .arrow {
    transition: transform 0.3s ease;
  }

  .faq-item.active .arrow {
    transform: rotate(90deg);
  }