/* Importação da Fonte */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.maps-button {
    position: fixed;
    bottom: 160px; /* acima do Instagram */
    right: 20px;
    z-index: 9999;
    width: 60px;
    height: 60px;
    background-color: #ffffff; /* azul do Google Maps */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .maps-button img {
    width: 30px;
    height: 30px;
  }
  
.instagram-button {
    position: fixed;
    bottom: 90px;
    right: 20px;
    z-index: 9999;
    width: 60px;
    height: 60px;
    background-color: #E1306C; /* rosa Instagram */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  .instagram-button:hover{
    background-color: #8a1a40;
  }
  
  .instagram-button img {
    width: 30px;
    height: 30px;
  }
  

.whatsapp-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
    width: 60px;
    height: 60px;
    background-color: #25d366; /* opcional: fundo verde WhatsApp */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  .whatsapp-button:hover{
    background-color: #034e0b;
  }
  
  .whatsapp-button img {
    width: 30px;
    height: 30px;
  }

.footer {
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
}

.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.footer-item {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
}

.footer-item img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.footer-item:hover {
    color: #ccc;
}
