.section2 {
  display: flex;
  justify-content: flex-start;
  /* Alinha à esquerda */
  align-items: center;
  height: 100vh;
  /* Ocupa a altura da tela toda */
  padding-left: 2rem;
  /* Espaço da margem esquerda */
  background-color: #696969;
  /* Cor de fundo (opcional) */
}

.img {
  width: auto;
  height: 600px;
}

.section2_fixed {
  display: flex;
  width: 100%;
  background-color: #e5e7eb;
  font-size: 15px;
}

.section2_carousel {
  width: 40%;
  position: relative;
  overflow: hidden;
}

.carousel_inner {
  display: flex;
  width: 100%;
  height: auto;
  transition: transform 0.5s ease-in-out;
}

.carousel_image {
  width: 100%;
  height: auto;
  object-fit: cover;
  flex-shrink: 0;
}

.carousel_button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.7);
  padding: 0.5rem;
  border-radius: 9999px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.carousel_button:hover {
  background-color: #ffffff;
}

.carousel_button.left {
  left: 0.5rem;
}

.carousel_button.right {
  right: 0.5rem;
}

.section2_content {
  width: 60%;
  padding: 1.5rem;
  background-color: rgb(160, 160, 160);
  display: flex;
  align-items: center;
}

.section2_content {
  width: 60%;
  padding: 1.5rem;
  background-color:#13293d;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
}

.section2_content h2 {
  font-size: 2rem;
  color: #ffffff;
  margin-bottom: 1rem;
}

.section2_content p {
  font-size: 1.125rem;
  color: #ffffff; 
  line-height: 1.6;
}